.logoprincipal {width: 330px;height: 100px;
margin:0 38%;}
.menu {font-size: 35px;text-decoration:overline;color: whitesmoke;display: flexbox;
    padding: 0 0 0 2em;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: space-around;}
.delmenu {width: 100%; height: 500px;color: whitesmoke;text-decoration: none;justify-content: space-around 
    ;


}
nav { display: flexbox;
justify-items: center;
}

    
.opciones { 
        position:relative;
        justify-items: center;


    }
    .textodelaimagen {
        display: flex;
        justify-content:space-around ;
        position: absolute
;
        top: 15px;
        /* right: 100px; */
        /* left: 200px; */
        font-size: 50px;
         
        ;
        
    }
    p { position: absolute;
    top: 250px;
margin: 0 0 0 5em;
color: whitesmoke ; 
font-size: 50px;
font-family: fantasy;}

    